
minecraftinstance.json
config/splash.properties
minecraftinstance.json
logs/latest.log
usercache.json
usernamecache.json
option.txt
journeymap/data/sp
journeymap/journeymap.log
valkyrielib/cache/supporters.json
crafttweaker.log
*.gz
usercache.json
mods/VanillaFix-1.0.10-99.jar
mods/OptiFine_1.12.2_HD_U_E3.jar
optionsof.txt
config/vanillafix.cfg
config/vanillafix/config_version
config/vanillafix/methods-stable_39.csv
mods/Mods.txt
